.banner {

	position: relative;;
	bottom: 20px;
	height: 250px;
	width: 102%;
	right: 10px;
	border-color: #7b8994;
	background-color: #ff7700;
}

.logo {

	position: relative;
	height: 100px;
	width: 250px;
	left: 10px;
	top: 20px;
}

.blogo {

	position: relative;
	height: 100px;
	width: 220px;
	left: 650px;
	top: 50px;
}

.header {

	position: relative;
	color: #3d464d;
	bottom: 100px;
	left: 200px;
	top: 10px;
}

.Button {

	background-color: white;
	position: relative;
	border-style: solid;
	border-style: none;
	border-radius: 5px;
	margin: 10px;
	width: 135px;
	height: 50px;
	top: 15px;
	right: -130px;
	font-size: 20px;
	font-family: "Times New Roman"
}

.bkInfo {

	background-color: #E5E8E8;
	height: 170px;
	padding:5px;

}

.SKInfo {

	background-color: #E5E8E8;
	position: relative;
	height: 300px;
	padding:5px;	
	top: 15px;
}

.APIInfo {

	background-color: #E5E8E8;
	position: relative;
	height: 430px;
	padding:5px;	
	top: 15px;
}

.redText
{
    color: red;
    font-weight: bold;
}

.link {

	text-decoration: underline;
	color: blue;
}





